<template>
  <div class="form-group">
    <label for="address" class="col-sm-3 control-label">Adresse du bien </label>
    <div class="col-sm-9">
      <vue-google-autocomplete
        ref="address"
        name="address"
        classname="form-control"
        id="map"
        placeholder="Veuillez saisir l'adresse de votre bien"
        v-on:placechanged="getAddressData"
        country="fr"
      >
      </vue-google-autocomplete>
      <p class="help-block">Uniquement en France</p>
    </div>
    <input type="hidden" name="lat" id="lat" :value="lat"></input>
    <input type="hidden" name="lng" id="lng" :value="lng"></input>
  </div>
</template>

<script>
    import VueGoogleAutocomplete from 'vue-google-autocomplete'

    export default {
        components: { VueGoogleAutocomplete },
        data: function () {
            return {
              address: '',
              lat: '',
              lng: ''
            }
        },

        mounted() {
            // To demonstrate functionality of exposed component functions
            // Here we make focus on the user input
            this.$refs.address.focus();
        },

        methods: {
            /**
            * When the location found
            * @param {Object} addressData Data of the found location
            * @param {Object} placeResultData PlaceResult object
            * @param {String} id Input container ID
            */
            getAddressData: function (addressData, placeResultData, id) {
                this.address = addressData;
                this.lat = placeResultData.geometry.location.lat();
                this.lng = placeResultData.geometry.location.lng();
            }
        }
    }
</script>
